@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

#title_404 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
    margin: 0;
  }

  #subtitle_404 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
  }