@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

  header {
    background-color: transparent;
    padding-bottom: 70px;
  }

  h1 {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    padding: 30px;
  }