@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body, .page, .basicpage{
  margin: 0;
  font-family: 'Poppins';
  background: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (min-width:50px) and (max-width: 320px)  {
  body{
    margin: 0;
    font-family: 'Poppins';
  }
  
  header {
    background: transparent;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 0;
    justify-content: space-around;
  }

  #compassLogo{
    height: 13vw;
  }

  #weatherStatus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #city{
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 22px;
    line-height: 3;
  }

  #iconAndTemp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 73px;
  }

  #temp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    height: 18px;
  }

  #realTimeDate, #compassText, #hideMobileFooterElements{
    display: none;
  }

  #compassBallLogo{
    width: 97vw;
    height: 62vh;
  }

  #compassBallLogoText{
    display: none;
  }

  footer{
    display: block;
  }

  #testFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 11vh;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  }
  
  #btnLogout{
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    color:#FFFFFF;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #btnContinue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #C13216;
    background: white;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #compassBallLogo{
    width: 97vw;
    height: 62vh;
    bottom: 53px;
    left: 0;
    position: fixed;
  }
}
@media screen and (min-width:320px) and (max-width: 480px)  {
  body{
    margin: 0;
    font-family: 'Poppins';
  }
  
  header {
    background: transparent;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 0;
    justify-content: space-around;
  }

  #compassLogo{
    height: 13vw;
  }

  #weatherStatus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #city{
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 22px;
    line-height: 3;
  }

  #iconAndTemp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 73px;
  }

  #temp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    height: 18px;
  }

  #realTimeDate, #compassText, #hideMobileFooterElements{
    display: none;
  }

  #compassBallLogo{
    width: 97vw;
    height: 62vh;
    width: 97vw;
    height: 62vh;
    bottom: 53px;
    left: 0;
    position: fixed;
  }

  #compassBallLogoText{
    display: none;
  }

  footer{
    display: block;
  }

  #testFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 11vh;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  }
  
  #btnLogout{
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    color:#FFFFFF;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #btnContinue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #C13216;
    background: white;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}
@media screen and (min-width:481px) and (max-width: 768px) {
  body{
    margin: 0;
    font-family: 'Poppins';
  }
  
  header {
    background: transparent;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 0;
    justify-content: space-around;
  }

  #compassLogo{
    height: 18vw;
  }

  #weatherStatus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #city{
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 22px;
    line-height: 2;
  }

  #iconAndTemp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 73px;
  }

  #temp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    height: 18px;
  }

  #realTimeDate, #compassText, #hideMobileFooterElements{
    display: none;
  }

  #compassBallLogoText{
    display: none;
  }

  footer{
    display: block;
  }

  #testFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 11vh;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  }

  #btnLogout{
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color:#FFFFFF;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #btnContinue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #C13216;
    background: white;
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #compassBallLogo{
    width: 55vw;
    height: 55vh;
    bottom: 53px;
    left: 0;
    position: fixed;
  }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
  
  header {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    position: sticky;
  }

  #compassLogo{
    height: 18vh;
    width: 30vw;
  }

  #realTimeDate{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #hour{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 83px;
    height: 17vh;
    margin: 0;
  }

  #date{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 10px;
  }

  #weatherStatus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #city{
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 22px;
    line-height: 2;
  }

  #iconAndTemp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 73px;
  }

  #temp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    height: 18px;
  }

  #compassText{
    display: block;
    text-align: right;
    padding: 0;
    margin: 0 26px;
  }

  #redText1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #C12D18;
    margin: 0;
  }

  #redText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #C12D18;
    margin: 0;
  }

  #blackText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
  }

  #hideMobileFooterElements{
    display: flex;
    width: 70%;
    align-items: center;
    height: 80%;
    justify-content: space-evenly;
  }

  hr{
    height: 6vh;
    color: #FFFFFF;
    margin: 0 7px;
  }

  #textFooter{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }

  #textClockerFooter{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    color: #FFFFFF;
    margin: 0px;
  }

  #count-down-timer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 12vw;
  }

  #countDownDiv{
    display: flex;
    width: 10vw;
    height: 100%;
    align-items: center;
  }

  #compassBallLogo{
    width: 38vw;
    height: 48vh;
    bottom: 53px;
    left: 0;
    position: fixed;
  }

  #compassBallLogoText{
    display: none;
  }

  #flexImgTxt{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin-top: 25px;
    width: 100%;
  }

  #testFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 11vh;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  }
  
  #btnLogout{
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 2;
    color:#FFFFFF;
    width: 11%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #btnContinue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #C13216;
    background: white;
    height: 100%;
    width: 11%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}

@media screen and (min-width:1025px) and (max-width: 1500px) {
  
  header {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    position: sticky;
  }

  #compassLogo{
    height: 18vh;
    width: 30vw;
  }

  #realTimeDate{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #hour{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 83px;
    height: 17vh;
    margin: 0;
  }

  #date{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 10px;
    line-height: 4;
  }

  #weatherStatus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #city{
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 22px;
    line-height: 2;
  }

  #iconAndTemp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 73px;
  }

  #temp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    height: 18px;
  }

  #compassText{
    display: block;
    text-align: right;
    padding: 0;
    margin: 0 26px;
  }

  #redText1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #C12D18;
    margin: 0;
  }

  #redText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #C12D18;
    margin: 0;
  }

  #blackText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    margin: 0;
  }

  #hideMobileFooterElements{
    display: flex;
    width: 70%;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
  }

  hr{
    height: 6vh;
    color: #FFFFFF;
    margin: 0 12px;
  }

  #textFooter{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    padding: 0;
    margin: 1px 6px;
  }

  #textClockerFooter{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #FFFFFF;
    margin: 0px;
  }

  #count-down-timer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    width: 12vw;
  }

  #countDownDiv{
    display: flex;
    width: 13vw;
    height: 100%;
    align-items: center;
  }

  #compassBallLogo{
    width: 38vw;
    height: 48vh;
    bottom: 53px;
    left: 0;
    position: fixed;
  }

  #compassBallLogoText{
    display: none;
  }

  #flexImgTxt{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin-top: 25px;
    width: 100%;
  }

  #testFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 11vh;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  }
  
  #btnLogout{
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color:#FFFFFF;
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #btnContinue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #C13216;
    background: white;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}

@media screen and (min-width:1500px){
  body{
    margin: 0;
    font-family: 'Poppins';
  }
  
  header {
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    position: sticky;
  }

  #compassLogo{
    height: 18vh;
    width: 38vw;
  }

  #realTimeDate{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  #hour{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    height: 17vh;
    margin: 0;
  }

  #date{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    line-height: 4;
  }

  #weatherStatus{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #city{
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    height: 51px;
    line-height: 2;
  }

  #iconAndTemp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 73px;
  }

  #temp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    height: 18px;
  }

  #compassText{
    display: block;
    text-align: right;
    padding: 0;
  }

  #redText1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #C12D18;
    margin: 0;
  }

  #redText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #C12D18;
    margin: 0;
  }

  #blackText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
  }

  #hideMobileFooterElements{
    display: flex;
    width: 70%;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
  }

  hr{
    height: 6vh;
    color: #FFFFFF;
    margin: 0 12px;
  }

  #textFooter{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: right;
    color: #FFFFFF;
    padding: 0;
    margin: 1px 6px;
  }

  #textClockerFooter{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: right;
    color: #FFFFFF;
    margin: 0px;
  }

  #count-down-timer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    width: 12vw;
  }

  #countDownDiv{
    display: flex;
    width: 13vw;
    height: 100%;
    align-items: center;
  }

  #compassBallLogo{
    width: 30vw;
    height: 45vh;
    bottom: 53px;
    left: 0;
    position: fixed;
  }

  #compassBallLogoText{
    display: none;
  }

  #flexImgTxt{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin-top: 70px;
    width: 100%;
  }

  #testFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 11vh;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  }
  
  #btnLogout{
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color:#FFFFFF;
    width: 19%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #btnContinue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #C13216;
    background: white;
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 85px;
  }

}